<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

   <!-- Initialization for data source -->
   <!--bean id = "dataSource" 
      class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name = "driverClassName" value = "org.postgresql.Driver"/>
      <property name = "url" value = "jdbc:postgresql://ec2-52-54-167-8.compute-1.amazonaws.com:5432/d3k26hr1nvsoh8"/>
      <property name = "username" value = "gaqmwhpqvpftpl"/>
      <property name = "password" value = "d6834ef7f9d18b407a3b0d47ceb5ed54180809ffc0f4b60e0f0ff4e40b4e588a"/>
   </bean-->
   
   <bean id = "dataSource" 
      class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name = "driverClassName" value = "org.postgresql.Driver"/>
      <property name = "url" value = "jdbc:postgresql://localhost:1234/SPdatabase"/>
      <property name = "username" value = "postgres"/>
      <property name = "password" value = "245387262"/>
   </bean>
   <!-- Definition for productJDBCTemplate bean -->
   <bean id = "productTemplate" 
      class = "com.example.user.template.ProductTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "productAdminTemplate" 
      class = "com.example.admin.template.ProductTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "versionTemplate" 
      class = "com.example.user.template.VersionTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "categoryTemplate" 
      class = "com.example.user.template.CategoryTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   <bean id = "categoryAdminTemplate" 
      class = "com.example.admin.template.CategoryTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   
   <bean id = "topicTemplate" 
      class = "com.example.user.template.TopicTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "postTemplate" 
      class = "com.example.user.template.PostTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
      <bean id = "imageTemplate" 
      class = "com.example.user.template.ImageTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
      
    <bean id = "aboutTemplate" 
      class = "com.example.user.template.AboutTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "userTemplate" 
      class = "com.example.user.template.UserTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
      
</beans>